// scss/_custom-styles.scss

body {
    letter-spacing: $custom-body-letter-spacing; 
}
    h1, h2, h3, h4, h5, h6 {
    letter-spacing: $custom-heading-letter-spacing;
}

.custom-navbar {
    background-color: rgba(3, 138 , 255, 1);
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}

.nav-scroll-shadow {
    background-color: rgba(3, 138 , 255, 0.8) !important; 
    backdrop-filter: blur(8px);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.5) !important;
    &:focus,
    &:active {
        box-shadow: none !important;
    }
}

// --- Hero Section ---

.hero-section {
    position: relative;
    padding-bottom: 8rem !important;
    margin-top: 56px;
    overflow: hidden; 
    &::after {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        height: 80px;
        background-color: var(--bs-white);
        clip-path: polygon(0 100%, 100% 100%, 100% 0%);
    }
}

.custom-card-block {
    border-top-left-radius: .5rem;   
    border-top-right-radius: .5rem;  
    border-bottom-left-radius: .5rem; 
    border-bottom-right-radius: 5rem;
    }

.card-design {
    background: linear-gradient(135deg, #4b3e94 0%, #1e1b4b 100%); 
    position: relative;
    overflow: hidden;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: radial-gradient(#ffffff33 1px, transparent 1px);
        background-size: 5px 5px;
        opacity: 0.7;
    }
}

// --- Tools Section ---

.tools-section {
    position: relative; 
}

.tools-data{
    position: relative;
}
.illustration-tools {
    position: absolute;
    right: 0;
    top: 0;
 }

.play-button-right {
    position: absolute;
    top: 20px;
    right: 20px;
}
    
.task-item {
    border-bottom: 1px solid var(--bs-gray-200); 
    position: relative;
}

.progress-line {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    background-color: var(--bs-warning);
}

// --- Ariane ---

.ariane-separator, .ariane-separator-reverse {
    z-index: -1;
    margin-top: -80px;
    height: 150px; 
    width: 30%;
    stroke-width: 8;
    stroke-dasharray: 20 20;
}

.ariane-separator-reverse {
    margin-top: 0px;
    transform: scaleX(-1);
}

// --- Features Section ---

.play-button-left {
    position: absolute;
    top: 20px;
    left: 30px;
}

// --- Technology Section ---

.technology-section .hr-fade {
    border: none;
    height: 1px;
    margin: 1rem 0;

    background: linear-gradient(
        to right, 
        transparent 0%, 
        var(--bs-gray-800) 50%, 
        transparent 100%
    );
    
    width: 90%; 
    margin-left: auto;
    margin-right: auto;
}

// --- Infinite Section ---
.diagonal-rounded{
    border-top-right-radius: 5rem;
    border-bottom-left-radius: 5rem;
}

// --- Awards Section ---

.awards-section {
    position: relative;
    // padding-bottom: 8rem !important;
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 80px;
        background-color: var(--bs-white);
        clip-path: polygon(0 100%, 100% 100%, 100% 0);
    }
}

.swiper{
    overflow: visible;
}

.awards-custom{
    transform: scale(1);
    transition: all .75s ease;
}

.awards-custom:hover{
    transform: scale(1.1);
}

// --- FAQ Section ---

.custom-accordion-btn {
    color: var(--bs-dark); 
    &:not(.collapsed) {
        color: var(--bs-primary) !important; 
        i {
            color: var(--bs-primary) !important;
        }
        background-color: white !important; 
    }
 
}

// --- Footer  ---

.footer-section .hr-fade {
    border: none;
    height: 1px;
    margin: 1rem 0;

    background: linear-gradient(
        to right, 
        transparent 0%, 
        var(--bs-white) 50%, 
        transparent 100%
    );
    
    width: 90%; 
    margin-left: auto;
    margin-right: auto;
}

.footer-section {

    &::before {
        content: '';
        position: absolute;
        top: -1px;
        left: 0;
        width: 100%;
        height: 80px;
        background-color: var(--bs-white); 
        clip-path: polygon(0 0, 100% 0, 0 100%);
        z-index: 1;
    }
}

// --- Responsive ---

@media (max-width: 991.98px) { 

    .navbar{
        border-bottom: 0;
    }
    
    .nav-item {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid var(--bs-white); 
        padding: 0.5rem 0;
    }

    .illustration-tools {
        position: relative;
    }

    .ariane-separator, .ariane-separator-reverse {
        margin-top: 0px;
        height: 150px; 
        stroke-width: 12;
        stroke-dasharray: 30 30;
        width: 40%;
    }
}