// scss/_custom-styles.scss

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.5) !important; // Bordure légèrement transparente
    &:focus,
    &:active {
        box-shadow: none !important;
    }
}

.hero-section {
    position: relative;
    padding-bottom: 8rem !important;
    margin-top: 56px;
    overflow: hidden; 
    &::after {
        content: '';
        position: absolute;
        bottom: -5%;
        left: 0;
        width: 100%;
        height: 100px;
        background-color: var(--bs-white);
        clip-path: polygon(0 30%, 100% 0, 100% 100%, 0% 100%); 
    }
}

.custom-card-block {
    border-top-left-radius: .5rem;   
    border-top-right-radius: .5rem;  
    border-bottom-left-radius: .5rem; 
    border-bottom-right-radius: 5rem;
    }

.card-design {
    background: linear-gradient(135deg, #4b3e94 0%, #1e1b4b 100%); 
    position: relative;
    overflow: hidden;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: radial-gradient(#ffffff33 1px, transparent 1px);
        background-size: 5px 5px;
        opacity: 0.7;
    }
}

// --- Tools Section ---

.tools-section {
    position: relative; 
}

.tools-data{
    position: relative;
}
.illustration-tools {
    position: absolute;
    right: 0;
    top: 0;
 }

.play-button-custom {
    position: absolute;
    top: 20px;
    right: 20px;
}
    
.task-item {
    border-bottom: 1px solid var(--bs-gray-200); 
    position: relative;
}

.progress-line {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    background-color: var(--bs-warning);
}

// --- Features Section ---

// --- Testimonials Section ---

.hr-fade {
    border: none;
    height: 1px;
    margin: 1rem 0;

    background: linear-gradient(
        to right, 
        transparent 0%, 
        var(--bs-gray-800) 50%, 
        transparent 100%
    );
    
    width: 90%; 
    margin-left: auto;
    margin-right: auto;
}

// --- RESPONSIVE ---

@media (max-width: 991.98px) { 
    // Cibler le conteneur du menu lorsqu'il est déployé
    .navbar{
        border-bottom: 0;
    }
    
    .nav-item {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid var(--bs-white); // Ligne fine de séparation
        padding: 0.5rem 0;
    }

        .illustration-tools {
        position: relative;
        }
}