// scss/_custom-variables.scss

// Import Functions and Variables Bootstrap
@import "bootstrap/scss/functions"; 
@import "bootstrap/scss/variables"; 

// Personalization

    // Font

        // Family
        $font-family-google-sans: 'Google Sans Flex', sans-serif;
        $font-family-base: $font-family-google-sans; 
        $headings-font-family: $font-family-google-sans;

        // Font Spacing
        $custom-body-letter-spacing: 0.05em; 
        $custom-heading-letter-spacing: 0.05em;

        $line-height-base: 1.8;
        $headings-line-height: 1.5;

        // Font size
        $font-sizes: map-merge(
          $font-sizes,
          (
            7: $font-size-base * 0.9,
            8: $font-size-base * 0.8
          )
        );

    // Colors
    $noir-thematic: #142c5c;
    $primary: #038aff;
    $dark: #161348;
    $success: #5ccaa7;
    $warning: #febd3d;

    $body-color: $noir-thematic;

    $theme-colors: (
      "primary": $primary,
      "secondary": $secondary,
      "success": $success,
      "warning": $warning,
      "light": $light,
      "dark": $dark,
    );

// Import rest of Bootstrap
@import "bootstrap/scss/variables-dark"; 
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";